
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
}

body#homepage section.root {
	box-sizing: border-box; /* content-box */
	box-shadow: 1px 2px 3px 4px red inset,
				-5px 20px 10px 20px #00FF00,
				10px -20px 20px 10px rgba(0,0,255,0.5); /* x, y, blur, spread, color */
	width: 70%; /* 70% of his parent container */
	height: 50%; /* 50% of his parent container */
	min-width: 200px;
	max-width: 1080px;
	opacity: 1;
	border: 1px solid red;
	border-top: 5px dotted rgba(0,255,0,0.5);
	border-bottom-style: dashed; /* none, hidden, ridge,outset,inset, double */
	border-radius: 50%;
	margin: 20px auto;
	padding: 10px 20px 30px 40px;
	padding-left: 20%;

	position: static; /* relative, absolute, fixed */
	left: 0;
	top: 0; /* bottom, right */
	overflow: scroll; /* hidden, auto, visible, clip */

	float: left; /* none, right, clear: both */
	clear: both;

	display: block; /* none, inline */
	display: grid;
	grid-template-columns: 20% 20% 20%;
	grid-template-rows: auto;
	grid-gap: 5%; 
	grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	flex-direction: row; /* column, row-reverse, column-reverse */
	flex-wrap: nowrap; /* wrap */
	justify-content: flex-start; /* flex-end, center, space-around, space-between */
	align-items: center; /* flex-start, flex-end, stretch, baseline */
	order: 1;
	flex-grow: 2;
	flex-shrink: 1;
	flex-basis: auto;

	background-color: #fff;
	background-image: url("../imgs/babyYoda.jpg");
	background-size: contain; /* cover */
	background-position: center center; /* left top, left bottom, etc.. */
	background-repeat: repeat-x; /* repeat, no-repeat, repeat-y */
	background-attachment: fixed; /* scroll */
	background: #fff url("../imgs/babyYoda.jpg") contain center center no-repeat fixed;

}

body#homepage section.root p {
	width: 50%; /* 50% of his parent(section.div) that has 50% of body(100%)
	than p will have 50% of 50% of 100% ,in other words: 0.5*0.5*1.0 = 0.25, that
	is 25% of the whole screen */
}

@font-face {
	font-family: "Zombie";
	src: url("../fonts/Zombie.woff");
}

header h1#home_title {
	font-family: Zombie;
	font-size: 2em; /* 2(twice) the font size of his parent */
	font-weight: bold; /* normal, bolder */
	font-style: oblique; /* normal */

	color: blue;

	line-height: 5em;
	letter-spacing: 0.3em;

	text-indent: 1em;
	text-align: center;
	text-decoration: none; /* line-through, underline, overline */
	text-shadow: 1px 1px 5px red, 
				-1px -1px 10px blue,
				10px 5px 20px #00FF00; /* x, y, blur, color * <============ */
	text-transform: uppercase; /* lowercase */
}

ul li:hover a {
	color: green;
	background: blue;
	transition: all 3s; /* the same as: transition: color 3s, background 3s */

}

@keyframes animationA {
	from {
		background: red;
		transform: translate(200px, 200px);
	}
	to {
		background: blue;
		transform: translate(400px, 400px);
	}
}

@keyframes animationB {
	0% {
		background: blue;
		transform: translate(100px, 0) rotate(45deg) scale(1.5, 1.5) ;
		/* skewX(), skewY(), matrix() */


	}
	50% {
		background: yellow;
		transform: translate(200px, 0) rotate(90deg) scale(2, 2) ;
	}

	100% {
		background: red;
		transform: translate(300px, 0) rotate(135deg) scale(2.5, 2.5) ;

	}
}


#home_page section {
	animation-name: animationA;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

article {
	animation: animationB 5s 1s infinite reverse ease;
}

@media (min-width: 567px) {
  body {
    background: red;
  }
}

@media (min-width: 768px) {
  body {
    background: green;
  }
}

@media (min-width: 992px) {
  body {
    background: blue;
  }
}

@media (min-width: 1200px) {
  body {
    background: pink;
  }
}

@media (min-width: 1400px) {
  body {
    background: yellow;
  }
}
